@charset "UTF-8";
#scss h1 {
  color: rgb(0, 80, 39);
  font-size: 2em;
}

#scss .lede {
  font-size: 0.8em;
}

#nest,
#oya {
  background: #ffe0d9;
  padding: 20px;
  margin: 0 0 20px;
}
#nest h2,
#oya h2 {
  color: rgb(255, 97, 210);
  font-size: 1.5em;
  line-height: 1.2;
}
#nest p em,
#oya p em {
  font-weight: bold;
  color: rgb(15, 223, 210);
}
#nest p .bikou,
#oya p .bikou {
  font-size: 0.8em;
}
#nest p .bikou:before,
#oya p .bikou:before {
  content: "※";
}